<!DOCTYPE html>
<html lang="de-de">
<body>
    <head>
        <title>{% block title %}| Streamania{% endblock %}</title>

        {% for styleFile in STYLE_FILES %}
            <link rel="stylesheet" href="css/{{ styleFile }}" />
        {% endfor %}
    </head>
    <main>
        Icon via SVG-Tag:
        <svg class="bi" width="32" height="32" fill="currentColor">
            <use xlink:href="svg/bootstrap-icons.svg#toggles"/>
        </svg>
        <br>
        Icon via i-Tag:
        <i class="bi-toggles"></i>

        <nav class="navigation">
            <ul>
                <li>Startseite</li>
            </ul>
        </nav>

        <div class="container">
            {% block content %}
                Default Content
            {% endblock %}
        </div>
    </main>
    <footer>
        Footer
    </footer>

    {% for scriptFile in SCRIPT_FILES %}
        <script src="js/{{ scriptFile }}"></script>
    {% endfor %}
</body>
</html>
