{% extends 'template/default.html.twig' %}

{% block site_title %}
    Filme
{% endblock %}

{% block content_title %}
    Filme
{% endblock %}

{% block content %}
    <div class="row no-gutters panel">
        <div class="col-3 panel__element">
            <div class="element__title">
                <h4>
                    Film/Serie
                </h4>
            </div>
            <div class="element__img">

            </div>
            <div class="element__blur"></div>
        </div>
        <div class="col-3 panel__element">
            <div class="element__title">
                <h4>
                    Film/Serie
                </h4>
            </div>
            <div class="element__img">

            </div>
            <div class="element__blur"></div>
        </div>
        <div class="col-3 panel__element">
            <div class="element__title">
                <h4>
                    Film/Serie
                </h4>
            </div>
            <div class="element__img">

            </div>
            <div class="element__blur"></div>
        </div>
        <div class="col-3 panel__element">
            <div class="element__title">
                <h4>
                    Film/Serie
                </h4>
            </div>
            <div class="element__img">

            </div>
            <div class="element__blur"></div>
        </div>
        <div class="col-3 panel__element">
            <div class="element__title">
                <h4>
                    Film/Serie
                </h4>
            </div>
            <div class="element__img">

            </div>
            <div class="element__blur"></div>
        </div>
        <div class="col-3 panel__element">
            <div class="element__title">
                <h4>
                    Film/Serie
                </h4>
            </div>
            <div class="element__img">

            </div>
            <div class="element__blur"></div>
        </div>
        <div class="col-3 panel__element">
            <div class="element__title">
                <h4>
                    Film/Serie
                </h4>
            </div>
            <div class="element__img">

            </div>
            <div class="element__blur"></div>
        </div>
        <div class="col-3 panel__element">
            <div class="element__title">
                <h4>
                    Film/Serie
                </h4>
            </div>
            <div class="element__img">

            </div>
            <div class="element__blur"></div>
        </div>
        <div class="col-3 panel__element">
            <div class="element__title">
                <h4>
                    Film/Serie
                </h4>
            </div>
            <div class="element__img">

            </div>
            <div class="element__blur"></div>
        </div>
        <div class="col-3 panel__element">
            <div class="element__title">
                <h4>
                    Film/Serie
                </h4>
            </div>
            <div class="element__img">

            </div>
            <div class="element__blur"></div>
        </div>
        <div class="col-3 panel__element">
            <div class="element__title">
                <h4>
                    Film/Serie
                </h4>
            </div>
            <div class="element__img">

            </div>
            <div class="element__blur"></div>
        </div>
        <div class="col-3 panel__element">
            <div class="element__title">
                <h4>
                    Film/Serie
                </h4>
            </div>
            <div class="element__img">

            </div>
            <div class="element__blur"></div>
        </div>
    </div>
{% endblock %}
